/* Tablet */
@media(max-width: 1000px) {
    header ul {
        width: 40%;
    }
}


/* Mobile */
@media(max-width: 670px) {
    header {
        justify-content: space-between;
        padding: 0 30px;
    }

    .menu-toggle {
        display: flex;
    }

    header ul {
        position: absolute;
        right: 0;
        top: 0;background-color: purple;
        height: 100vh;
        width: 80%;
        z-index: -1;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        transition: all 1s;
    }

    header ul.slide {
        transform: translateX(0);
    }
}
